MemberPortalGICWebApi/Service References/MemberAddressUpdate.cs/LifeAdressDS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="/com/mni/mednext/services/model/enrolment/modules/common/" xmlns:types="/com/mni/mednext/services/model/enrolment/modules/common/types/" name="LifeAdressDS" targetNamespace="/com/mni/mednext/services/model/enrolment/modules/common/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <name>Life Address Module</name>
  </wsdl:documentation>
  <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="http://172.20.8.44:8001/MedNeXtWebServices-Model/LifeAdressDS?WSDL=/META-INF/wsdl/ServiceException.wsdl" />
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="http://172.20.8.44:8001/MedNeXtWebServices-Model/LifeAdressDS?XSD=/com/mni/mednext/services/model/enrolment/modules/common/serviceinterface/LifeAdressDS.xsd" namespace="/com/mni/mednext/services/model/enrolment/modules/common/types/" />
    </schema>
  </wsdl:types>
  <wsdl:message name="LifeAdressDS_createLifeAddress">
    <wsdl:part name="parameters" element="types:createLifeAddress" />
  </wsdl:message>
  <wsdl:message name="LifeAdressDS_createLifeAddressResponse">
    <wsdl:part name="parameters" element="types:createLifeAddressResponse" />
  </wsdl:message>
  <wsdl:message name="LifeAdressDS_updateLifeAddress">
    <wsdl:part name="parameters" element="types:updateLifeAddress" />
  </wsdl:message>
  <wsdl:message name="LifeAdressDS_updateLifeAddressResponse">
    <wsdl:part name="parameters" element="types:updateLifeAddressResponse" />
  </wsdl:message>
  <wsdl:message name="LifeAdressDS_deleteLifeAddress">
    <wsdl:part name="parameters" element="types:deleteLifeAddress" />
  </wsdl:message>
  <wsdl:message name="LifeAdressDS_deleteLifeAddressResponse">
    <wsdl:part name="parameters" element="types:deleteLifeAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="LifeAdressDS">
    <wsdl:documentation />
    <wsdl:operation name="createLifeAddress">
      <wsdl:input message="tns:LifeAdressDS_createLifeAddress" />
      <wsdl:output message="tns:LifeAdressDS_createLifeAddressResponse" />
      <wsdl:fault name="ServiceException" message="errors:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="updateLifeAddress">
      <wsdl:input message="tns:LifeAdressDS_updateLifeAddress" />
      <wsdl:output message="tns:LifeAdressDS_updateLifeAddressResponse" />
      <wsdl:fault name="ServiceException" message="errors:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="deleteLifeAddress">
      <wsdl:input message="tns:LifeAdressDS_deleteLifeAddress" />
      <wsdl:output message="tns:LifeAdressDS_deleteLifeAddressResponse" />
      <wsdl:fault name="ServiceException" message="errors:ServiceException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LifeAdressDSSoapHttp" type="tns:LifeAdressDS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createLifeAddress">
      <soap:operation soapAction="/com/mni/mednext/services/model/enrolment/modules/common/createLifeAddress" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateLifeAddress">
      <soap:operation soapAction="/com/mni/mednext/services/model/enrolment/modules/common/updateLifeAddress" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteLifeAddress">
      <soap:operation soapAction="/com/mni/mednext/services/model/enrolment/modules/common/deleteLifeAddress" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LifeAdressDS">
    <wsdl:port name="LifeAdressDSSoapHttpPort" binding="tns:LifeAdressDSSoapHttp">
      <soap:address location="http://172.20.8.44:8001/MedNeXtWebServices-Model/LifeAdressDS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>